doctype html
html
  head
    title= title
    link(rel='stylesheet',type='text/css',href='../css/main.css')
  body
    div(class="main-content")
        div(class="title")
            h3= idea
        span= detailContent
